on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: Which tag to publish to

name: Package Image to Public ECR Repo

permissions:
  id-token: write
  contents: read

jobs:
  package-and-upload-image:
    name: Upload Docker Image to Public ECR Repo
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_DEPLOYMENT_ROLE_NAME }}

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build and push
        id: build-image
        uses: docker/build-push-action@v6
        with:
          platforms: "linux/amd64"
          file: Dockerfile
          push: true
          tags: |
            ${{ steps.login-ecr-public.outputs.registry }}/d4l5s1z7/vydev-terraform:${{ inputs.tag || env.RELEASE_VERSION }}
            ${{ steps.login-ecr-public.outputs.registry }}/d4l5s1z7/vydev-terraform:latest
